/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    display: block;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.wrap{
    max-width: 1000px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 0 15px;
    margin-bottom: 24px;
}

h1>a{
    width: 250px;
    height: 250px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background: url(img/M1.png);
}

.menu{
    display: flex;
    flex-wrap: wrap;
 /*   max-width: 336px;*/
}

/*.menu>li{
    width: 25%;   
}*/

.menu>li>a{
    display: flex;
    align-items: center;
    background-color: #3399FF;
    color: white;
    padding: 10px;
    font-weight: bolder;
    text-align: center;
}

.menu>li>a:hover{
    background-color: orange;
}

.container{
    max-width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 7px;
}

.container .context{
    width: 72.55%;
    border: solid black 2px;
    padding: 10px;
}

.container>.banner{
    width: 18.55%;
    border: solid black 2px;
    padding: 5px;
}

.banner>li{
    margin-bottom: 10px;
}

.context>h2{
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.2;
    margin-bottom: 24px;
}

.context>p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.footer{
    margin-bottom: 7px;
}

.footer>p{
    text-align: center;
    font-size: 16px;
}


@media (max-width:768px){
.header{
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 20px;
}

h1>a{
    background: url(img/M2.png);
    width: 150px;
    height: 150px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.menu>li{
    width: 50%;
    margin: 0 auto 10px auto;
}
.menu>li>a{
    justify-content: center;
}


.container>.context{
    width: 100%;
    margin-bottom: 20px;
}

.container>.banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



}